body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Dashboard Component */
.dashboard-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0 !important;
}
.dashboard-list li {
    list-style: none;
}

.selected-button, .default-button {
    background: #7490b6;
    border: none;
    padding: 10px 20px;
    color: #fff;
}
.default-button{
    background: #8fb0dc;
}

/* Question Component */
.question{

  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
.avatar-pic {
  height: 100px;
  border-radius: 50%;
  margin: 5px;
}

/* Leaderboard Component */
.container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #ccc;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}
.container > div {
    flex: 1 0 26%;
}
.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav Component */
nav ul li {
    display: inline-block;
}
nav ul li a {
    padding-right: 20px;
    text-decoration: none;
    color: #7490b6;
    font-weight: bold;
}
nav ul li a:hover, .active{
  color: #000;
}
